:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --focus-color: #FFFFFF;
  --logo-header-color: #000000;
  --mail-tel-footer-color: rgba(255, 255, 255, 0.6);
  --section-background-color: #2F303A;
  --main-background-color: #F5F5F5;
  --button-hover-color: #188CE8;
  --box-shadow-hero: rgba(0, 0, 0, 0.15);
  --box-shadow-one: rgba(0, 0, 0, 0.1);
  --box-shadow-two: rgba(0, 0, 0, 0.08);
  --box-shadow-three: rgba(0, 0, 0, 0.12);
  --box-shadow-four: rgba(0, 0, 0, 0.14);
  --box-shadow-five: rgba(0, 0, 0, 0.2);
  --bg-staff-color: #F5F4FA;
  --border-color: #EEEEEE;
  --border-header-color: #ECECEC;
  --border-footer-form: rgba(255, 255, 255, 0.3);
  --border-form-modal: rgba(33, 33, 33, 0.2);
  --placeholder-modal-color: rgba(117, 117, 117, 0.5);
  --footer-placeholder-color: rgba(255, 255, 255, 0.6);
  --icon-header-color: #757575;
  --icon-social-first: #afb1b8;
  --time-animation: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--focus-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid var(--border-header-color);
}

.site-header {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .site-header {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .site-header {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo,
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo__first-part,
.logo-footer__first-part {
  color: var(--accent-color);
}
.logo__second-part,
.logo-footer__second-part {
  color: var(--logo-header-color);
}

.header__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: var(--logo-header-color);
  z-index: 5;
  transition: fill var(--time-animation) var(--cubic);
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__button {
    display: none;
  }
}

.header__button .icon-close {
  display: none;
}

.header__button.is-open .icon-close {
  display: block;
}

.header__button.is-open .icon-close:hover,
.header__button.is-open .icon-close:focus {
  fill: var(--accent-color);
}

.header__button.is-open .icon-menu {
  display: none;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 48px 25px;
  background-color: var(--focus-color);
  min-height: 796px;
}
.menu.is-open {
  display: block;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 306px;
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-left: 93px;
  }
}
.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}
.navigation__link {
  display: block;
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--time-animation) var(--cubic);
}
@media screen and (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
    font-size: 14px;
    line-height: 1.14;
  }
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link--active {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .navigation__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__item:last-child {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .contacts__item:nth-child(2) {
    margin-left: 50px;
  }
}
.contacts__link {
  color: var(--primary-text-color);
  fill: var(--icon-header-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--time-animation) var(--cubic), fill var(--time-animation) var(--cubic);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .contacts__link--mobile {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .contacts__link--mail {
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .social-networks {
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .social-networks {
    display: none;
  }
}
.social-networks__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.social-networks__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid var(--border-form-modal);
}
.social-networks__item:not(:first-child) {
  padding-left: 10px;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-background-color);
}

@media screen and (min-width: 1200px) {
  .footer.container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .block-contacts {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .block-contacts {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact,
.block-social {
    margin-bottom: 60px;
  }
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    text-align: left;
  }
}
.logo-footer__first-part {
  color: var(--accent-color);
}
.logo-footer__second-part {
  color: var(--focus-color);
}

.footer-contacts {
  margin-top: 0;
  margin-bottom: 0px;
  font-style: normal;
  line-height: 1.71;
}
@media screen and (max-width: 767px) {
  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer-contacts__link.map {
  color: var(--focus-color);
}
.footer-contacts__link {
  display: inline-block;
  text-decoration: none;
  color: var(--mail-tel-footer-color);
  transition: color var(--time-animation) var(--cubic);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

.block-social__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--focus-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .block-social__title {
    text-align: left;
  }
}

.social-pages {
  display: flex;
}
@media screen and (max-width: 767px) {
  .social-pages {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .social-pages {
    margin: 0;
  }
}
.social-pages__item:not(:last-child) {
  margin-right: 10px;
}
.social-pages__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--time-animation) var(--cubic);
}
.social-pages__link:hover, .social-pages__link:focus {
  background-color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .block-subscription {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .block-subscription {
    justify-content: baseline;
    align-items: flex-end;
    width: 570px;
    height: 86px;
  }
}
.block-subscription__title {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--focus-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .block-subscription__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: flex;
  }
}
.subscription__label {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.subscription__input {
  display: block;
  max-width: 450px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid var(--border-footer-form);
  border-radius: 4px;
  outline: none;
  background-color: var(--section-background-color);
  color: var(--focus-color);
  transition: border-color var(--time-animation) var(--cubic);
}
@media screen and (max-width: 1199px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscription__input {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}
.subscription__input:-moz-placeholder-shown {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-placeholder-color);
}
.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-placeholder-color);
}
.subscription__input:placeholder-shown {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-placeholder-color);
}
.subscription__label:focus-within > .subscription__input {
  border-color: var(--accent-color);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 27px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--focus-color);
  border: none;
  transition: background-color var(--time-animation) var(--cubic);
}
.button:focus, .button:hover {
  background-color: var(--button-hover-color);
}
.button__icon {
  margin-left: 10px;
}

.hero {
  max-width: 480px;
  min-height: 400px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--section-background-color);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    min-height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-desk-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-desk-2x.jpg);
  }
}
.hero__container {
  padding-left: 15px;
  padding-right: 15px;
}
.hero__title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--focus-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  display: inline-block;
  padding: 10px 24px;
  min-width: 200px;
  border-color: transparent;
  box-shadow: 0px 4px 4px var(--box-shadow-hero);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--focus-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color var(--time-animation) var(--cubic);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
    min-width: 216px;
  }
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover-color);
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 120px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-staff-color);
}
.features__title {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
.features__description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

@media screen and (max-width: 1200px) {
  .section.service {
    display: none;
  }
}
.service {
  padding-top: 0;
}

.services {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.services__item {
  display: block;
  position: relative;
}
.services__item:not(:first-child) {
  margin-left: 30px;
}
.services__title {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--focus-color);
  background: rgba(47, 48, 58, 0.8);
}
.services__image {
  display: block;
  max-width: 100%;
}

.section.people {
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--bg-staff-color);
}

.staff {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .staff {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    align-items: center;
    justify-content: center;
  }
}
.staff__card {
  width: 100%;
  box-shadow: 0px 1px 3px var(--box-shadow-three), 0px 1px 1px var(--box-shadow-four), 0px 2px 1px var(--box-shadow-five);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--focus-color);
}
@media screen and (max-width: 767px) {
  .staff__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .staff__card {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .staff__card {
    width: calc((100% - 120px) / 4);
  }
}
.staff__photo {
  display: block;
  width: 100%;
}
.staff__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .staff__name {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .staff__name {
    font-size: 16px;
  }
}
.staff__specialization {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.bottom-card {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.social-media__icons:not(:last-child) {
  margin-right: 10px;
}
.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-social-first);
  transition: background-color var(--time-animation) var(--cubic), fill var(--time-animation) var(--cubic);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--accent-color);
  fill: var(--focus-color);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (max-width: 767px) {
  .clients__logo {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .clients__logo {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__logo {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--icon-social-first);
  border-radius: 4px;
  fill: var(--icon-social-first);
  transition: border-color var(--time-animation) var(--cubic), fill var(--time-animation) var(--cubic);
}
.clients__link:focus, .clients__link:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--time-animation) var(--cubic), visibility var(--time-animation) var(--cubic);
  overflow-y: scroll;
}
.backdrop__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--focus-color);
  transition: fill var(--time-animation) var(--cubic);
}
.backdrop__button:hover, .backdrop__button:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 39px 40px 41px;
  width: 100%;
  min-height: 609px;
  background-color: var(--focus-color);
  border-radius: 4px;
  z-index: 7;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform var(--time-animation) var(--cubic), opacity var(--time-animation) var(--cubic);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__field--coments {
  margin-bottom: 20px;
}
.form__input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid var(--border-form-modal);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--time-animation) var(--cubic);
}
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--icon-header-color);
}
.form__icon {
  position: absolute;
  left: 12px;
  top: 29px;
  transition: fill var(--time-animation) var(--cubic);
}
.form__textarea {
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--border-form-modal);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color var(--time-animation) var(--cubic);
}
.form__textarea::-moz-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-modal-color);
}
.form__textarea:-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-modal-color);
}
.form__textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-modal-color);
}
@media screen and (min-width: 1200px) {
  .form__textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}
.form__policy {
  margin-bottom: 30px;
  display: block;
  padding-left: 26px;
  font-size: 12px;
  line-height: 1.71;
  color: var(--icon-header-color);
}
@media screen and (min-width: 1200px) {
  .form__policy {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    padding-left: 0;
  }
}
.form__checkbox {
  position: absolute;
  -webkit-appearence: none;
  -moz-appearence: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__terms {
  color: var(--accent-color);
}
.form__button {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--focus-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--time-animation) var(--cubic);
}
.form__button:hover, .form__button:focus {
  background-color: var(--button-hover-color);
}

.form__field:focus-within .form__input,
.form__field:focus-within .form__textarea {
  border-color: var(--accent-color);
}

.form__field:focus-within .form__icon {
  fill: var(--accent-color);
}

.check-icon {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
  top: 366px;
  background-color: var(--focus-color);
  fill: var(--focus-color);
  border: 2px solid var(--title-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color var(--time-animation) var(--cubic);
}
@media screen and (min-width: 320px) {
  .check-icon {
    left: 0;
  }
}
@media screen and (min-width: 480px) {
  .check-icon {
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .check-icon {
    left: 10px;
    top: 364px;
  }
}

.form__checkbox:checked ~ .check-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 2px;
  box-shadow: none;
  background-origin: border-box;
}/*# sourceMappingURL=main.css.map */