:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --focus-color: #FFFFFF;
  --logo-header-color: #000000;
  --mail-tel-footer-color: rgba(255, 255, 255, 0.6);
  --section-background-color: #2F303A;
  --main-background-color: #F5F5F5;
  --button-hover-color: #188CE8;
  --box-shadow-hero: rgba(0, 0, 0, 0.15);
  --box-shadow-one: rgba(0, 0, 0, 0.1);
  --box-shadow-two: rgba(0, 0, 0, 0.08);
  --box-shadow-three: rgba(0, 0, 0, 0.12);
  --box-shadow-four: rgba(0, 0, 0, 0.14);
  --box-shadow-five: rgba(0, 0, 0, 0.2);
  --bg-staff-color: #F5F4FA;
  --border-color: #EEEEEE;
  --border-header-color: #ECECEC;
  --border-footer-form: rgba(255, 255, 255, 0.3);
  --border-form-modal: rgba(33, 33, 33, 0.2);
  --placeholder-modal-color: rgba(117, 117, 117, 0.5);
  --footer-placeholder-color: rgba(255, 255, 255, 0.6);
  --icon-header-color: #757575;
  --icon-social-first: #afb1b8;
  --time-animation: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--focus-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding-left: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--border-header-color);
}

.site-header {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo__first-part,
.logo-footer__first-part {
  color: var(--accent-color);
}
.logo__second-part,
.logo-footer__second-part {
  color: var(--logo-header-color);
}

.header__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__button {
    display: none;
  }
}

.icon-close {
  display: none;
}

.header__button.is-open .icon-close {
  display: block;
}

.header__button.is-open .icon-menu {
  display: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--focus-color);
    top: 0;
    min-height: 796px;
  }
}
.navigation__link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--time-animation) var(--cubic);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link--active {
  color: var(--accent-color);
}
.navigation__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
}

.contacts__link {
  color: var(--primary-text-color);
  fill: var(--icon-header-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--time-animation) var(--cubic), fill var(--time-animation) var(--cubic);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hero {
  max-width: 480px;
  min-height: 400px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--section-background-color);
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
  }
}
.hero__title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--focus-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  display: inline-block;
  padding: 10px 24px;
  min-width: 200px;
  border-color: transparent;
  box-shadow: 0px 4px 4px var(--box-shadow-hero);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--focus-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color var(--time-animation) var(--cubic);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
    min-width: 216px;
  }
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover-color);
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 120px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-staff-color);
}
.features__title {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
.features__description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

@media screen and (max-width: 1200px) {
  .section.service {
    display: none;
  }
}
.service {
  padding-top: 0;
}

.services {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.services__item {
  display: block;
  position: relative;
}
.services__item:not(:first-child) {
  margin-left: 30px;
}
.services__title {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--focus-color);
  background: rgba(47, 48, 58, 0.8);
}
.services__image {
  display: block;
  max-width: 100%;
}/*# sourceMappingURL=main.css.map */