.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;

  @include mobile {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @include desktop {
    margin: 0;
  }

  &__logo {
    @media screen and (max-width: 767px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @include tablet {
      width: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }

    @include desktop {
      width: calc((100% - 5 * 30px) / 6);
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
    }
    @include desktop {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    @include desktop {
      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 92px;
    border: 1px solid var(--icon-social-first);
    border-radius: 4px;
    fill: var(--icon-social-first);
    transition: border-color var(--time-animation) var(--cubic),
      fill var(--time-animation) var(--cubic);

    &:focus,
    &:hover {
      border-color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
}
